:root {
    --sidebar-width: 35vh;
    --primary-color: #d59bf6;
    --border-radius: 2vh;
}

body {
    background: rgba(180, 184, 255, 0.5);
    background: linear-gradient(
        30deg,
        rgba(180, 184, 255, 0.5) 0%,
        rgba(140, 140, 255, 0.5) 35%,
        rgba(235, 211, 255, 0.5) 100%
    );
}

.app {
    position: absolute;
    display: flex;
    background-color: rgba(255,255,255,0.6);
    border-radius: var(--border-radius);
    width: 95%;
    height: 95vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: #7f7f7f 0vh 0vh 2vh;
}

.sidebar {
    float: left;
    background: rgba(255, 255, 255, 0.5);
    width: var(--sidebar-width);
    height: 100%;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    transition-duration: 0.4s;
    box-shadow: #0000007f 0.5vh 1vh 2vh 0.1em;
}

.sidebar .top {
    position: relative;
    background: var(--primary-color);
    width: 100%;
    height: 7vh;
    border-radius: var(--border-radius) 0 0 0;
}

.hidden {
    width: 0;
}

.dashboard {
    background: rgba(255, 252, 214, 0.5);
    height: 100%;
    width: 100%;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    display: inline;
    align-items: center;
    justify-content: center;
}

.button {
    margin-top: 1vh;
    position: relative;
    border-radius: calc(var(--border-radius) / 2);
    width: 20vh;
    left: 2%;
    aspect-ratio: 12em;
    display: inline-block;
    font-family: "Poppins";
    font-size: xx-large;
    justify-content: center;
    align-content: center;
    text-align: justify;
    background: #ffffff;
    transition-duration: 0.05s;
}

.button:hover {
    transition-duration: 0.1s;
    background: #f9f9f9;
    box-shadow: #ffffff 0px 0px 1vh;
    scale: 1.05;
}

.button:active {
    transition-duration: 0.02s;
    box-shadow: #ffffff 0px 0px 1vh;
    border-color: #000;
    scale: 0.95;
}