:root {
    --sidebar-width: 35vh;
    --primary-color: #d59bf6;
    --border-radius: 2vh;
}

body {
    background: rgba(180, 184, 255, 0.5);
    background: linear-gradient(
        30deg,
        rgba(180, 184, 255, 0.5) 0%,
        rgba(140, 140, 255, 0.5) 35%,
        rgba(235, 211, 255, 0.5) 100%
    );
}

.app {
    position: absolute;
    display: flex;
    background-color: rgba(255,255,255,0.6);
    border-radius: var(--border-radius);
    width: 95%;
    height: 95vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes show-sidebar {
    from {
        width: 0;
    }
    to {
        width: var(--sidebar-width);
    }
}

@keyframes hide-sidebar {
    from {
        width: var(--sidebar-width);
    }
    to {
        width: 0;
    }
}

.sidebar {
    animation-name: show-sidebar;
    animation-duration: 0.25s;
    float: left;
    background: rgba(255, 255, 255, 0.5);
    width: var(--sidebar-width);
    height: 100%;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.sidebar .top {
    position: relative;
    background: var(--primary-color);
    width: 100%;
    height: 7vh;
    border-radius: var(--border-radius) 0 0 0;
}

.hidden {
    animation-name: hide-sidebar;
    animation-duration: 1s;
    width: 0;
}